requests==2.7.0
google-auth==1.4.1
google-resumable-media==0.3.1
google-cloud-storage==1.10.0
-e git+https://git@github.com/uc-cdis/cdislogging.git@master#egg=cdislogging
-e git+https://git@github.com/uc-cdis/cdiserrors.git@0.1.0#egg=cdiserrors
